.collapse {
  background: #fff;
  margin-top: 2rem;

  &__card {
    background: #fff;
    border-bottom: 1px solid #cbcbcb;

    padding-block: 1.25rem;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1rem;

      cursor: pointer;
    }

    &-title {
      color: #0b0b0b;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 110%; /* 22px */

      @include tablet() {
        font-size: 1rem;
        line-height: 110.1%; /* 17.616px */
      }
    }

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;

      transition: 200ms ease;

      svg {
        width: inherit;
        height: inherit;
      }

      &_rotated {
        rotate: -90deg;
      }
    }

    &-content {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;

      transition: all 200ms ease;

      &_open {
        grid-template-rows: 1fr;
        margin-top: 1.5rem;

        @include tablet() {
          margin-top: 0.625rem;
        }
      }

      p {
        min-height: 0;

        color: #8a8a8a;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.2px;

        @include tablet() {
          font-size: 0.875rem;
          line-height: 150%; /* 21px */
        }

        a {
          color: #8282dd;
        }
      }
    }
  }
}
